* {
    font-family: OpenSans-Light sans-serif;
    color: #242424;
}
/*定义页面大小*/
html {
    width: 1000px;
    height: 700px;
    padding: 0px;
    margin: 0px auto;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-width: 1000px;
    min-height:700px;
}
/*标题样式*/
header {
    width: 100%;
    height: 40px;
    font-family: OpenSans-Light, Arial, sans-serif;
    font-size: 25pt;
    text-indent: 175px;
    text-align: left;
    line-height: 40px;
    background-image: url("../picture/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 50%;
}
/*标签组样式*/
nav {
    width: 100%;
    height: 40px;
    background-color: #2F2F2F;
}

nav > a {
    width: 12%;
    margin-left: 80px;
    color: white;
    font-family: OpenSans-Light, Arial, sans-serif;
    font-size: 20pt;
    text-align: center;
    text-decoration: none;
    float: left;
}

nav > a:hover{
    background-color: #0F0F0F;
}

/*主体样式*/
#page {
    width: 900px;
    height: 900px;
    float: left;
    position: relative;
    background-image: url("../picture/restart.jpg");
    background-size: 900px 900px;

}

#music {
    width: 900px;
}
/*帮助信息*/
#page > .help {
    width: 900px;
    text-align: center;
    font-size: 32pt;
    font-family: Cat, sans-serif;
}

#win {
    position: absolute;
    bottom: 100px;
    opacity: 0;
}
/*重置按钮*/
#reset {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 180px;
    right: 50px;
    background-color: wheat;
    border-radius: 10px;
    border: 1px wheat solid;
    font-size: 20pt;
    font-family: OpenSans-Light, sans-serif;
}

#reset:hover {
    background: rebeccapurple;
}

#page > #origin {
    width: 400px;
    height: 400px;
    margin: 0px;
    position: absolute;
    top:250px;
    right: 5px;
    border-radius: 20px;
    border: 1px silver solid;
}

#page > #puzzle {
    width: 400px;
    height: 400px;
    margin: 0px;
    border: 1px silver solid;
    background-color: snow;
    position: absolute;
    top:250px;
    left: 5px;
}

#puzzle > div {
    position: absolute;
}

.piece {
    width: 100px;
    height: 100px;
    margin: 0px;
    background-image: url("../picture/restart.jpg");
    background-size: 400px 400px;
    background-position: 0px 0px;
}

.piece:hover {
    transform: scale(1.1);
}

/*一大堆为了方便显示图片部分的属性*/
#piece0 {
    background-position: 0px 0px;
}

#piece1 {
    background-position: -100px 0px;
}

#piece2 {
    background-position: -200px 0px;
}

#piece3 {
    background-position: -300px 0px;
}

#piece4 {
    background-position: 0px -100px;
}

#piece5 {
    background-position: -100px -100px;
}

#piece6 {
    background-position: -200px -100px;
}

#piece7 {
    background-position: -300px -100px;
}

#piece8 {
    background-position: 0px -200px;
}

#piece9 {
    background-position: -100px -200px;
}

#piece10 {
    background-position: -200px -200px;
}

#piece11 {
    background-position: -300px -200px;
}

#piece12 {
    background-position: 0px -300px;
}

#piece13 {
    background-position: -100px -300px;
}

#piece14 {
    background-position: -200px -300px;
}

#piece15 {
    background-position: -300px -300px;
}

/*空白图片*/
.blank {
    width: 100px;
    height: 100px;
    float: left;
    background-color: snow;
    opacity: 0;
}
/*侧边栏*/
aside {
    width: 100px;
    height: 900px;
    min-height: 450px;
    float: right;
    background-color: ;
    background-image: -webkit-repeating-linear-gradient(-45deg, papayawhip, yellow 5px, white 5px, #ccc 10px);
}

footer {
    width: 100%;
    height: 100px;
    clear: both;
    font-size: 18pt;
    text-align: center;
    line-height: 100px;
}