body {
  background: #F8F8F9;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

div.alert span {
  margin-left: 10px;
}

div.input-group {
  margin: 10px 0px 10px 0px;
}

button.btn {
  margin: 10px 0px 10px 0px;
}

td button.btn {
  margin: 0;
  line-height: 10px;
}



/* main */
div.main {
}

/* login-in */
div.login-in {
  margin: 10px;
}

  div.login-in h1.display-4 {
    margin: 10px;
  }



/* user-info  */
div.user-info {
  float: right;
  position:  relative;
  top: -50px;
}

div.user-info img {
  display: block;
  margin: auto;
  width: 48px;
}

div.user-info button {
  margin: 8px;
}

/* header */
header {
  background: #fff;
  border-bottom: 1px solid #dee0e1;
}

  header .title {
    font-weight: 900;
    color: #585858;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 48px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
  }

  header .description {
    color: #585858;
    letter-spacing: 4.8px;
    font-size: 16px;
    line-height: 48px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
  }


@media screen and (max-width: 736px) {
    header .description {
      display: none;
    }
}
