body {
	color: RGB(64,64,64);
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
	background: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg")
				repeat fixed;
}

h1, h2 {
	color: RGB(164,164,0);
	background-color: RGB(240,240,240);
	font-family: "Century Gothic", Futura, Verdana, sans-serif;
	text-decoration: underline;
	letter-spacing: .2em;
}

h1 {
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
}

h2 {
	text-align: left;
	font-size: 18pt;
	font-weight: normal;
}

a {
	color:RGB(164,164,0);
}

ul {
	list-style: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}

blockquote {
	font-style: italic;
	background-color: RGB(255,255,200);
}

