body {
  width: 80%;
  margin:  0 auto;
  background: #E7ECF0;
}

h1 {
  text-indent: 20px;
  background: #fff;
  height: 46px;
  margin: 0;
  font-family: "Segoe UI",Arial,sans-serif;
}

p {
  display: inline-block;
  margin: 0px;
}

botton {
  width: 15%;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
}

#menu {
  border: 1px solid silver;
  margin-top: 10px;
  padding: 5px;
}

#postContent {
  width: 65%;
  border: 1px solid gainsboro;
}

#getButton {
  background: palegoldenrod;
}

#postButton {
  background: lightcoral;
}

#totalTweet {
  border: 1px solid silver;
  margin-top: 5px;
  padding: 5px;
}

.eachTweet {
  margin: 5px;
  /* background-color: gainsboro; */
}

.eachTweet:nth-child(even) {
  background-color: silver;
}