/*自定义字体*/
@font-face {
        font-family: Cat;
        src: url(../res/方正喵呜体.ttf);
}
/*统一设置样式*/
* {
   font-family: Cat, sans-serif;
   color: #242424;
}
/*设置主体样式和背景*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../res/cork-wallet.png");
    background-repeat: repeat;
}
/*上半部分标题样式*/
#title {
	margin: 10px auto;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}
/*结果样式，先隐藏*/
#ans {
	text-align: center;
	font-size: 20pt;
	opacity: 0;
}
/*黑盒子部分*/
#box {
	text-align: center;
	margin: 0 auto;
	background-color: white;
	height: 300px;
	width: 400px;
}
/*各个部分各种绝对定位*/
#left_side {
	background-color:black;
	height: 175px;
	width: 75px;
	position: absolute;
}

#right_side {
	background-color:black;
	height: 175px;
	width: 75px;
	position: absolute;
	margin-left: 325px;
}

#top {
	background-color: black;
	height: 50px;
	width: 250px; 
	margin-left: 75px;	
	position: absolute;
}

#bottom {
	background-color: black;
	position: absolute;
	height: 50px;
	width: 400px;
	margin-top: 250px;
}

#middle {
	background-color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-top: 100px;
	margin-left: 125px;
}

/*E后面的margin属性会覆盖S，保留都有的一些属性*/
#S, #E {
	background-color: sandybrown;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	position: absolute;
	margin-top: 185px;
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
}

#E{
	margin-top: 185px;
	margin-left: 350px;
}

/*底部部分*/
#end {
    width: 600px;
    margin: 40px auto 0 auto;
    font-size: 20pt;
    font-weight: bold;
    color: black;
}
/*实例黑砖*/
#wall0 {
	width: 100px;
	height: 30px;
	background-color: black;
	margin:0 auto;

}
/*隐藏的判断标准，在E的右侧*/
#judge {
	width: 25px;
	height: 75px;
	position: absolute;
	margin-left: 400px;
	margin-top: 175px;
}