@font-face {
        font-family: Cat;
        src: url(../res/方正喵呜体.ttf);
}

* {
   font-family: Cat, sans-serif;
   color: #242424;
   font-size: 14pt;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../res/cork-wallet.png");
    background-repeat: repeat;
}

h1 {
    text-align: center;
    font-size: 30pt;
    margin-bottom: 0px;
}

h2{
	text-align: center;
	padding-right: 600px;
    margin-bottom: 0px;
    font-family: Cat;
}

#instruction {
	text-align: center;
	padding-right: 60px;
    font-size: 18px;
}



#info {
    width: 600px;
    height: 80px;
    margin: 20px auto 0 auto;
}	

#start_stop {
    width: 200px;

    margin-left: 130px;
    background-color: #FFFFFF;
    font-weight: bold;
    
    position: absolute;
}

input[value="Game Over"] {
    width: 190px;
    padding-left: 6px;
    margin-left: 130px;
    margin-top: 36px;	
    position: absolute;
    font-weight: bold;
}

#time {
	margin-left: 390px;
	font-size: 20pt;
	position: absolute;
}

#score {
	margin-top: 16px;
	margin-left: 385px;
    font-size: 20pt;
    position: absolute;
}

#time input, #score input {
    width: 40px;
    font-size: 13pt;
    position: absolute;
}

#game {
	width: 600px;
    height: 400px;
    background-color: white;
    margin: 20px auto 20px auto;
    border: 1px solid black;
}

#wrapper:hover {
    cursor: pointer;
}

.hole {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../res/hole.png');
    margin: 10px;
}

.mole {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../res/mole.png');
    margin: 10px;
}