/*自定义字体*/
@font-face {
        font-family: Cat;
        src: url(../res/方正喵呜体.ttf);
}
/*全局字体样式*/
* {
   font-family: Cat, sans-serif;
   color: #242424;
   font-size: 14pt;
}
/*设置主题背景*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../res/cork-wallet.png");
    background-repeat: repeat;
}
/*标题样式*/
h1 {
    text-align: center;
    font-size: 30pt;
}

h2{
	text-align: center;
	padding-right: 600px;
}
/*游戏信息大小样式*/
#infomation {
    width: 600px;
    height: 80px;
    margin: 20px auto 0 auto;
}	
/*开始结束按钮*/
#star_or_stop {
    width: 200px;
    margin-left: 130px;
    background-color: #FFFFFF;
    font-weight: bold;
    position: absolute;
}
/*状态框*/
input[value="Game Over"] {
    width: 190px;
    padding-left: 6px;
    margin-left: 130px;
    margin-top: 36px;	
    position: absolute;
    font-weight: bold;
}
/*时间*/
#time {
	margin-left: 390px;
	font-size: 20pt;
	position: absolute;
}
/*得分*/
#score {
	margin-top: 35px;
	margin-left: 385px;
    font-size: 20pt;
    position: absolute;
}
/*对应的输出框*/
#time input, #score input {
    width: 80px;
    font-size: 13pt;
    position: absolute;
}
/*游戏本体样式*/
#game {
	width: 600px;
    height: 400px;
    background-color: white;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    border: 1px solid gray;
}
/*帮助信息*/
#instruction {
	text-align: center;
	padding-right: 60px;
    font-size: 18px;
}
/*非侵入式代码css样式*/
/*原始*/
.hole {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../res/hole.png');
    margin: 10px;
}
/*被点击后*/
.mole {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../res/mole.png');
    margin: 10px;
}
