/*主题样式采用示例样式，嗯然后微妙的调整了布局*/
/*通用匹配*/
* {
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
/*主体字体样式*/
body {
    font-size: 22px;
    font-family: Verdana, Tahoma, sans-serif;
}
/*设置总大小，定位计算器居中*/
#calculater {
    position: relative;
    width: 560px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
}
/*设置标题样式，字体*/
#calculater > .title {
    width: 560px;
    height:100px;
    text-align: center;
    line-height: 100px;
    color: green;
}
/*对于按钮盒子大小居中和边框*/
#calculater > .box {
    width: 480px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black
}
/*设置输出格式样式*/
#answer {
    width: 430px;
    height:30px;
	text-align :right;
    margin: 15px auto 20px auto;
    border: 1px solid gray
}
/*每个按钮样式*/
.box > button {
    margin-left: 12px;
    margin-bottom: 10px;
    width: 100px;
    height: 65px;
    font-size: 20px;
}
/*稍微，稍微加一点效果*/
.box > button:hover {
    background: red    
}