body {
    font-family: "Microsoft Yahei";
    background-image: url("../assets/images/repeat.jpg");
    background-repeat: repeat;
}


#form {
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    background-color: #E2E7EB;
    border-radius:25px;  
}

.title {
    width: 400px;
    height: 80px;
    display: block;
    margin:30px auto 10px auto;
    border-bottom: 2px solid gray;
    text-align:center;
    color:snow;
    font-size: 50px;
    text-shadow: 0px 1px 1px #555;
}

.help {
    display: block;
    text-align:center;
    color: rgb(139, 141, 142);
    font-size:25px;
}

.request {
    display: block;
    font-size:14px;
    color: rgb(170, 184, 191);
    margin-bottom: 15px;
}

#name, #ID, #phone, #email {
    text-align: center;
}



